<div class="container-fluid">
  <h2>Company management</h2>
  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="col-xs-12 col-sm-2 col-md-2 card" routerLink="/add-new-user">
      <i class="fas fa-plus" style="color: gray;"></i>
      <span style="color: gray;text-align: center;padding: 0px 0px 30px 0px;">Add New User</span>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 card">
      <p style="font-weight: bold;margin: 0;padding: 0px 0px 3px 0px;border-bottom: 1px solid black;">User#1 Details</p>
      <span style="font-weight: bold;font-size: 12px;margin-top: 5px;">Dear Mr. William Smith</span>
      <span style="font-weight: bold;font-size: 12px;color: blue;">william.smith@mail.com</span>
      <span style="font-weight: bold;font-size: 12px;">ABC Branch</span>
      <span style="font-weight: bold;font-size: 12px;">Role- Manager</span>
      <span style="font-weight: bold;font-size: 12px;">Address line1</span>
      <span style="font-weight: bold;font-size: 12px;">Address line2</span>
      <span style="font-weight: bold;font-size: 12px;">Reston,virginia,United State 20190</span>
      <span style="font-weight: bold;font-size: 12px;">Tel +1 (703) 481 2100</span>
      <span style="font-weight: bold;font-size: 12px;">Fax +1 (703) 481 3200</span>
      <span style="font-weight: bold;font-size: 12px;color: blue;">Edit | Remove</span>
      <span style="font-weight: bold;font-size: 12px;color: blue;">status- <span style="font-weight: bold;font-size: 12px;color: green;">Activated</span></span>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 card">
      <p style="font-weight: bold;margin: 0;padding: 0px 0px 3px 0px;border-bottom: 1px solid black;">User#2 Details</p>
      <span style="font-weight: bold;font-size: 12px;margin-top: 5px;">Dear Mr. James Davis</span>
      <span style="font-weight: bold;font-size: 12px;color: blue;">james.davis@mail.com</span>
      <span style="font-weight: bold;font-size: 12px;">ABC Branch</span>
      <span style="font-weight: bold;font-size: 12px;">Role- Accountant</span>
      <span style="font-weight: bold;font-size: 12px;">Address line1</span>
      <span style="font-weight: bold;font-size: 12px;">Address line2</span>
      <span style="font-weight: bold;font-size: 12px;">Reston,virginia,United State 20190</span>
      <span style="font-weight: bold;font-size: 12px;">Tel +1 (703) 481 2100</span>
      <span style="font-weight: bold;font-size: 12px;">Fax +1 (703) 481 3200</span>
      <span style="font-weight: bold;font-size: 12px;color: blue;">Edit | Remove</span>
      <span style="font-weight: bold;font-size: 12px;color: blue;">status- <span style="font-weight: bold;font-size: 12px;color: red;">Not-Activated</span></span>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 card">
      <p style="font-weight: bold;margin: 0;padding: 0px 0px 3px 0px;border-bottom: 1px solid black;">User#3 Details</p>
      <span style="font-weight: bold;font-size: 12px;margin-top: 5px;">Dear Mr. Henry Davis</span>
      <span style="font-weight: bold;font-size: 12px;color: blue;">henry.davis@mail.com</span>
      <span style="font-weight: bold;font-size: 12px;">ABC Branch</span>
      <span style="font-weight: bold;font-size: 12px;">Role- Sales Manager</span>
      <span style="font-weight: bold;font-size: 12px;">Address line1</span>
      <span style="font-weight: bold;font-size: 12px;">Address line2</span>
      <span style="font-weight: bold;font-size: 12px;">Reston,virginia,United State 20190</span>
      <span style="font-weight: bold;font-size: 12px;">Tel +1 (703) 481 2100</span>
      <span style="font-weight: bold;font-size: 12px;">Fax +1 (703) 481 3200</span>
      <span style="font-weight: bold;font-size: 12px;color: blue;">Edit | Remove</span>
      <span style="font-weight: bold;font-size: 12px;color: blue;">status- <span style="font-weight: bold;font-size: 12px;color: green;">Activated</span></span>
    </div>
  </div>
</div>