<!-- working code -->

<div class="compare-models-page entry-page ng-scope" ng-if="model">
    <div class="row">
        <div class="compare-page-header">

            <div ng-if="!compareHeading" class="ng-scope">
                <h2>Choose Your <span class="ng-binding">Residential Building</span></h2>
            </div>
            <button routerLink="/property-list" class="btn-change-subaru" ui-sref="byo.vehicleSelect.entryB" style="outline: none;">
                <div class="btn-back-arrow">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <span class="button-text">Change Industry</span>
            </button>
        </div>
        <hr class="show-for-small-only">
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../../assets/Single Family Detached.jpg" style="width:140px;height: 100px;cursor: pointer;">
        <p>Single Family Detached</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img routerLink="/SinglefamilyattachedComponent" src="../assets/single family.PNG" style="width:140px;height: 100px;cursor: pointer;">
        <p>Single Family Attached</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../../assets/townhouse.jpg" style="width:140px;height: 100px;cursor: pointer;">
        <p>Town homes</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../assets/mulfamily.PNG" style="width:140px;height: 100px;cursor: pointer;">
        <p>Multi Family</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../../assets/outdoorstructure.PNG" style="width:140px;height: 100px;cursor: pointer;">
        <p>Outdoor Structures</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../../assets/labour accomodation.PNG" style="width:140px;height: 100px;cursor: pointer;">
        <p>Labor Accomodation</p>
    </div>

</div>


<div class="compare-background-wrap ng-scope ng-isolate-scope collision" ng-if="model" detect-collision=".entry-header-container">
    <div class="ng-modal compare-wrapper-modal OBK-compare-wrapper-modal ng-scope" style="display: none;">
        <div class="ng-modal-dialog" ng-style="dialogStyle">
            <div class="ng-modal-dialog-content">
                <article class="compare-wrapper mySlides" data-controller="compare-grid" compare-grid="">
                    <div id="fourth_animated_content" class=" ">
                        <header class="fixed-section top-stick">
                            <div>
                                <div class="arrows">
                                    <span class="dot-icon" data-row="0"></span>
                                    <span class="dot-icon" data-row="1"></span>
                                    <span class="dot-icon" data-row="2"></span>
                                    <span class="dot-icon not-shown" data-row="3"></span>
                                    <span class="dot-icon not-shown" data-row="4"></span>
                                    <span class="dot-icon not-shown" data-row="5"></span>
                                    <span class="dot-icon not-shown" data-row="6"></span>
                                </div>
                            </div>
                            <div class="sub-header">


                                <div style="display: flex;">

                                    <div style="margin-top: 8%;">
                                        <label class="filter-main-label">Filter</label>
                                        <div style="display: flex;margin-top: 10px;">
                                            <label class="filter-sub-label">Price range</label>
                                            <select class="inputBox">
                                                    <option style="font-size: 12px;">50000</option>
                                                    <option>40000</option>
                                                    <option>30000</option>
                                                    <option>20000</option>
                                                </select>
                                        </div>

                                        <div style="display:flex;margin-top: 10px;">
                                            <label class="filter-sub-label">No of Floors</label>
                                            <select class="inputBox">
                                                <option style="font-size: 12px;">1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>

                                            </select>
                                        </div>

                                        <div style="display:flex;margin-top: 10px;">
                                            <label class="filter-sub-label">No of Bedrooms</label>
                                            <select class="inputBox">
                                                <option style="font-size: 12px;">1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>

                                            </select>
                                        </div>

                                        <div style="display:flex;margin-top: 10px;">
                                            <label class="filter-sub-label">No of Bathrooms</label>
                                            <select class="inputBox">
                                                <option style="font-size: 12px;">1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>

                                            </select>
                                        </div>

                                        <div style="display:flex;margin-top: 10px;">
                                            <label class="filter-sub-label">No of Garages</label>
                                            <select class="inputBox">
                                                <option style="font-size: 12px;">1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="line1">

                                    </div>

                                    <div class="labels-fixed">
                                        <!-- <div class="labels">
                                            <p class="options-title title-standard">
                                                <span class="options-icon fas fa-circle" style="color: #333;"></span> Standard
                                            </p>
                                            <p class="options-title title-optional">
                                                <span class="options-icon far fa-circle" style="color: #333;"></span> Optional
                                            </p>
                                            <p class="options-title title-na">
                                                <span class="options-icon fas fa-minus" style="color: #333;"></span> Not Equipped
                                            </p>
                                        </div> -->



                                        <div style="margin-top: 62.5%;">
                                            <ul class="labels">
                                                <li class="feature-name  nope" style="height: 24px;">
                                                    <p class="feature-title">
                                                        <span class="centered">
                                                        <span class="feature-text">Starting Price*</span>
                                                        </span>
                                                    </p>
                                                </li>
                                                <li class="feature-name  nope" style="height: 24px;">
                                                    <p class="feature-title">
                                                        <span class="centered">
                                                        <span class="feature-text">No of Floors</span>
                                                        </span>
                                                    </p>
                                                </li>
                                                <li class="feature-name  nope" style="height: 24px;">
                                                    <p class="feature-title">
                                                        <span class="centered">
                                                        <span class="feature-text">No of Bedrooms</span>
                                                        </span>
                                                    </p>
                                                </li>
                                                <li class="feature-name  nope" style="height: 24px;">
                                                    <p class="feature-title">
                                                        <span class="centered">
                                                        <span class="feature-text">No of Bathrooms</span>
                                                        </span>
                                                    </p>
                                                </li>
                                                <li class="feature-name  nope" style="height: 24px;">
                                                    <p class="feature-title">
                                                        <span class="centered">
                                                        <span class="feature-text">No of Garages</span>
                                                        </span>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>




                                    <div class="values-fixed-wrapper ">
                                        <div style="margin-left: -3%;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">

                                            <div class="carousel-inner">
                                                <div class="carousel-item active">

                                                    <div class="row">
                                                        <div class="col" style="padding: 0;">
                                                            <div>
                                                                <a href="#">
                                                                    <img class="image-wrapper image-OBK" src="../../../assets/IsoMetrics.PNG" alt="Image" style="max-width:100%;">
                                                                </a>

                                                                <li class="trim-title " style="width: 239px;list-style-type: none;">
                                                                    <a routerLink="/isometricone">
                                                                        <span class="centerer"></span>
                                                                        <span class="centered">
                                                                432 sqft<br>1 Bed,1 Bath,Porch
                                                            </span>
                                                                    </a>
                                                                </li>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">$18,695</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col" style="padding: 0;">
                                                            <a href="#">
                                                                <img class="image-wrapper image-OBK" src="../../assets/Isometric2.PNG" alt="Image" style="max-width:100%;">
                                                            </a>
                                                            <li class="trim-title " style="width: 239px;list-style-type: none;">
                                                                <a routerLink="/isometrictwo">
                                                                    <span class="centerer"></span>
                                                                    <span class="centered">
                                                                540 sqft<br>1 Bed,1 Bath,Porch,Patio
                                                            </span>
                                                                </a>

                                                            </li>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">$28,695</span>
                                                                </li>
                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>

                                                        </div>
                                                        <div class="col" style="padding: 0;">
                                                            <a href="#">
                                                                <img class="image-wrapper image-OBK" src="../../assets/Isometric3.PNG" alt="Image" style="max-width:100%;">
                                                            </a>
                                                            <li class="trim-title " style="width: 239px;list-style-type: none;">
                                                                <a routerLink="/isometricthree">
                                                                    <span class="centerer"></span>
                                                                    <span class="centered">
                                                                1,000 sqft<br>2 Bed,1 Bath,Porch,Patio
                                                            </span>
                                                                </a>
                                                            </li>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">$38,695</span>
                                                                </li>
                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                        </div>

                                                    </div>

                                                </div>


                                                <div class="carousel-item ">

                                                    <div class="row">
                                                        <div class="col" style="padding: 0;">
                                                            <div>
                                                                <a href="#">
                                                                    <img class="image-wrapper image-OBK" src="../../../assets/IsoMetrics.PNG" alt="Image" style="max-width:100%;">
                                                                </a>

                                                                <li class="trim-title " style="width: 239px;list-style-type: none;">
                                                                    <a routerLink="/isometricone">
                                                                        <span class="centerer"></span>
                                                                        <span class="centered">
                                                                432 sqft<br>1 Bed,1 Bath,Porch
                                                            </span>
                                                                    </a>
                                                                </li>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">$18,695</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                                <ul class="data-row">
                                                                    <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                        <span class="centerer"></span><span class="centered">1</span>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col" style="padding: 0;">
                                                            <a href="#">
                                                                <img class="image-wrapper image-OBK" src="../../assets/Isometric2.PNG" alt="Image" style="max-width:100%;">
                                                            </a>
                                                            <li class="trim-title " style="width: 239px;list-style-type: none;">
                                                                <a routerLink="/isometrictwo">
                                                                    <span class="centerer"></span>
                                                                    <span class="centered">
                                                                540 sqft<br>1 Bed,1 Bath,Porch,Patio
                                                            </span>
                                                                </a>

                                                            </li>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">$18,695</span>
                                                                </li>
                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>

                                                        </div>
                                                        <div class="col" style="padding: 0;">
                                                            <a href="#">
                                                                <img class="image-wrapper image-OBK" src="../../assets/Isometric3.PNG" alt="Image" style="max-width:100%;">
                                                            </a>
                                                            <li class="trim-title " style="width: 239px;list-style-type: none;">
                                                                <a routerLink="/isometricthree">
                                                                    <span class="centerer"></span>
                                                                    <span class="centered">
                                                                1,000 sqft<br>2 Bed,1 Bath,Porch,Patio
                                                            </span>
                                                                </a>
                                                            </li>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">$18,695</span>
                                                                </li>
                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                            <ul class="data-row">
                                                                <li class="data-entry first-data-element nope" style="width: 239px; height: 24px;">
                                                                    <span class="centerer"></span><span class="centered">1</span>
                                                                </li>

                                                            </ul>
                                                        </div>

                                                    </div>

                                                </div>



                                            </div>



                                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="margin:-49% 0 0 -3%;">
                                                <span style="margin-right: 30%;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="margin:-49% 0 0 -3%;">
                                                <span style="margin-left: 70%;" class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>



                                    </div>



                                </div>


                            </div>
                        </header>
                    </div>
                    <section class="parent-table fixed-bottom bottom-stick legal-disclaimers" build-modal="">
                        <div style="margin-right:-3%;">
                            <ul class="labels">
                                <li class="feature-name" style="width:255px">
                                    <button class="legal-disclaimer-button feature-text" ng-click="showLegalDisclaimerModal()">Legal Disclaimers</button>
                                </li>
                            </ul>
                            <div class="info-table">
                                <div class="values inner-table" style="width: auto; transform: translate3d(0px, 0px, 0px); user-select: none; cursor: move; touch-action: pan-y;">
                                    <ul class="data-row">
                                        <li class="data-entry first-data-element" style="width: 259px; height: 53px;">
                                            <a ng-show="buildBtn" routerLink="/isometricone" class="build-yours-link find-text" data-index="0">
                                                <span class="build-icon"></span>Build&nbsp;&amp; Price</a>
                                        </li>
                                        <li class="data-entry" style="width: 264px; height: 53px;">
                                            <a ng-show="buildBtn" routerLink="/isometrictwo" class="build-yours-link find-text" data-index="1">
                                                <span class="build-icon"></span>Build&nbsp;&amp; Price</a>
                                        </li>
                                        <li class="data-entry" style="width: 264px; height: 53px;">
                                            <a ng-show="buildBtn" routerLink="/isometricthree" class="build-yours-link find-text" data-index="2">
                                                <span class="build-icon"></span>Build&nbsp;&amp; Price</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>