<div class="compare-models-page entry-page ng-scope" ng-if="model">
    <div class="row">
        <div class="compare-page-header">
            <!-- ngIf: compareHeading -->
            <!-- ngIf: !compareHeading -->
            <div ng-if="!compareHeading" class="ng-scope">
                <h2>Choose Your <span class="ng-binding">Residential Building</span></h2>
            </div><!-- end ngIf: !compareHeading -->
            <button routerLink="/property-list" class="btn-change-subaru" ui-sref="byo.vehicleSelect.entryB" style="outline: none;">
                <div class="btn-back-arrow">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <span class="button-text">Change Industry</span>
            </button>
        </div>
        <hr class="show-for-small-only">
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../../assets/Single Family Detached.jpg" style="width:140px;height: 100px;cursor: pointer;">
        <p>Single Family Detached</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img routerLink="/SinglefamilyattachedComponent" src="../assets/single family.PNG" style="width:140px;height: 100px;cursor: pointer;">
        <p>Single Family Attached</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../../assets/townhouse.jpg" style="width:140px;height: 100px;cursor: pointer;">
        <p>Town homes</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../assets/mulfamily.PNG" style="width:140px;height: 100px;cursor: pointer;">
        <p>Multi Family</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../../assets/outdoorstructure.PNG" style="width:140px;height: 100px;cursor: pointer;">
        <p>Outdoor Structures</p>
    </div>
    <div id="title" class="col col-sm-4 col-md-2 col-lg-2" style="text-align: center;">
        <img src="../../assets/labour accomodation.PNG" style="width:140px;height: 100px;cursor: pointer;">
        <p>Labor Accomodation</p>
    </div>
    
</div>
<div class="compare-background-wrap ng-scope ng-isolate-scope collision" ng-if="model"
    detect-collision=".entry-header-container">
    <div class="ng-modal compare-wrapper-modal OBK-compare-wrapper-modal ng-scope" style="display: none;">
        <!-- <div class="ng-modal-overlay" close-comparemodal=""></div> -->
        <div class="ng-modal-dialog" ng-style="dialogStyle">
            <!-- <a href="#" class="ng-modal-close" close-comparemodal=""></a> -->
            <div class="ng-modal-dialog-content">
                <article class="compare-wrapper mySlides" data-controller="compare-grid" compare-grid="">
                    <!--Hybrid validation-->
                    <!--End of Hybrid validation-->
                    <div id="fourth_animated_content" class=" ">
                        <header class="fixed-section top-stick">
                            <div>
                                <div class="arrows">
                                    <!-- <span class="arrow-icon fas fa-chevron-left prev" data-direction="right" (click)="plusSlides(-1)"></span> -->
                                    <span class="dot-icon" data-row="0"></span>
                                    <span class="dot-icon" data-row="1"></span>
                                    <span class="dot-icon" data-row="2"></span>
                                    <span class="dot-icon not-shown" data-row="3"></span>
                                    <span class="dot-icon not-shown" data-row="4"></span>
                                    <span class="dot-icon not-shown" data-row="5"></span>
                                    <span class="dot-icon not-shown" data-row="6"></span>
                                    <!-- <span class="arrow-icon fas fa-chevron-right next" data-direction="left" (click)="plusSlides(1)"></span> -->
                                </div>
                            </div>
                            <div class="sub-header">
                                <span class="arrow-icon fas fa-chevron-left prev desktop-arrow" data-direction="right"
                                    (click)="plusSlides(-1)"></span>
                                <div class="labels-fixed">
                                    <div class="labels">
                                        <p class="options-title title-standard">
                                            <span class="options-icon fas fa-circle" style="color: #333;"></span>
                                            Standard</p>
                                        <p class="options-title title-optional">
                                            <span class="options-icon far fa-circle" style="color: #333;"></span>
                                            Optional</p>
                                        <p class="options-title title-na">
                                            <span class="options-icon fas fa-minus" style="color: #333;"></span> Not
                                            Equipped</p>
                                    </div>
                                </div>
                                <div class="values-fixed-wrapper ">
                                    <div class="pictures-values values-fixed">
                                        <ul class="trim-pictures inner-table"
                                            style="transform: translate3d(0px, 0px, 0px); user-select: none; cursor: move; touch-action: pan-y;">
                                            <li class="trim-image trim-1" style="width: 216.333px;">
                                                <a routerLink="/isometricone">
                                                    <div class="image-wrapper image-OBK"
                                                        style="background-image: url('../../assets/IsoMetrics.PNG');"
                                                        role="img" aria-label="Subaru image - compare"></div>
                                                </a>
                                            </li>
                                            <li class="trim-image trim-2" style="width: 216.333px;">
                                                <a routerLink="/isometrictwo">
                                                    <div class="image-wrapper image-OBK"
                                                        style="background-image: url('../../assets/Isometric2.PNG');"
                                                        role="img" aria-label="Subaru image - compare"></div>
                                                </a>
                                            </li>
                                            <li class="trim-image trim-3" style="width: 216.333px;">
                                                <a routerLink="/isometricthree">
                                                    <div class="image-wrapper image-OBK"
                                                        style="background-image: url('../../assets/Isometric3.PNG');"
                                                        role="img" aria-label="Subaru image - compare"></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="titles-values values-fixed">
                                        <ul class="trim-titles inner-table"
                                            style="transform: translate3d(0px, 0px, 0px); user-select: none; cursor: move; touch-action: pan-y;">
                                            <!--Hybrid exception-->
                                            <!--End of Hybrid exception-->
                                            <li class="trim-title " style="width: 191.333px;list-style-type: none;">
                                                <a routerLink="/isometricone">
                                                    <span class="centerer"></span>
                                                    <span class="centered">
                                                        <!--Hybrid exception on when-->
                                                        432 sqft<br>1 Bed,1 Bath,Porch
                                                        <!--End of Hybrid exception on when-->
                                                    </span>
                                                </a>
                                                <!--Hybrid exception-->
                                                <!--End of Hybrid exception-->
                                            </li>
                                            <!--Hybrid exception-->
                                            <!--End of Hybrid exception-->
                                            <li class="trim-title " style="width: 191.333px;list-style-type: none;">
                                                <a routerLink="/isometrictwo">
                                                    <span class="centerer"></span>
                                                    <span class="centered">
                                                        <!--Hybrid exception on when-->
                                                        540 sqft<br>1 Bed,1 Bath,Porch,Patio
                                                        <!--End of Hybrid exception on when-->
                                                    </span>
                                                </a>
                                                <!--Hybrid exception-->
                                                <!--End of Hybrid exception-->
                                            </li>
                                            <!--Hybrid exception-->
                                            <!--End of Hybrid exception-->
                                            <li class="trim-title " style="width: 191.333px;list-style-type: none;">
                                                <a routerLink="/isometricthree">
                                                    <span class="centerer"></span>
                                                    <span class="centered">
                                                        <!--Hybrid exception on when-->
                                                        1,000 sqft<br>2 Bed,1 Bath,Porch,Patio
                                                        <!--End of Hybrid exception on when-->
                                                    </span>
                                                </a>
                                                <!--Hybrid exception-->
                                                <!--End of Hybrid exception-->
                                            </li>
                                            <!--Hybrid exception-->
                                            <!--End of Hybrid exception-->
                                        </ul>
                                    </div>
                                </div>
                                <span class="arrow-icon fas fa-chevron-right next desktop-arrow" data-direction="left"
                                    (click)="plusSlides(1)"></span>
                            </div>
                        </header>
                    </div>
                    <section class="parent-table  ">
                        <ul class="labels">
                            <li class="feature-name  nope" style="height: 24px;">
                                <p class="feature-title">
                                    <span class="centered">
                                        <span class="feature-text">Starting Price*</span>
                                    </span>
                                </p>
                            </li>
                            <li class="feature-name  nope" style="height: 24px;">
                                <p class="feature-title">
                                    <span class="centered">
                                        <span class="feature-text">No of Floors</span>
                                    </span>
                                </p>
                            </li>
                            <li class="feature-name  nope" style="height: 24px;">
                                <p class="feature-title">
                                    <span class="centered">
                                        <span class="feature-text">No of Bedrooms</span>
                                    </span>
                                </p>
                            </li>
                            <li class="feature-name  nope" style="height: 24px;">
                                <p class="feature-title">
                                    <span class="centered">
                                        <span class="feature-text">No of Bathrooms</span>
                                    </span>
                                </p>
                            </li>
                            <li class="feature-name  nope" style="height: 24px;">
                                <p class="feature-title">
                                    <span class="centered">
                                        <span class="feature-text">No of Garages</span>
                                    </span>
                                </p>
                            </li>
                        </ul>
                        <div class="info-table">
                            <div class="values inner-table"
                                style="width: auto; transform: translate3d(0px, 0px, 0px); user-select: none; cursor: move; touch-action: pan-y;">
                                <ul class="data-row">
                                    <li class="data-entry first-data-element nope"
                                        style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">$18,695</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">$19,195</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">$22,095</span>
                                    </li>
                                </ul>
                                <ul class="data-row">
                                    <li class="data-entry first-data-element nope"
                                        style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                </ul>
                                <ul class="data-row">
                                    <li class="data-entry first-data-element nope"
                                        style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">2</span>
                                    </li>
                                </ul>
                                <ul class="data-row">
                                    <li class="data-entry first-data-element nope"
                                        style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                </ul>
                                <ul class="data-row">
                                    <li class="data-entry first-data-element nope"
                                        style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                    <li class="data-entry nope" style="width: 191.333px; height: 24px;">
                                        <span class="centerer"></span><span class="centered">1</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <!-- <div class="bottom-bar-overlay"></div> -->
                    <section class="parent-table fixed-bottom bottom-stick legal-disclaimers" build-modal="">
                        <div>
                            <ul class="labels">
                                <li class="feature-name">
                                    <button class="legal-disclaimer-button feature-text"
                                        ng-click="showLegalDisclaimerModal()">Legal Disclaimers</button>
                                </li>
                            </ul>
                            <div class="info-table">
                                <div class="values inner-table"
                                    style="width: auto; transform: translate3d(0px, 0px, 0px); user-select: none; cursor: move; touch-action: pan-y;">
                                    <ul class="data-row">
                                        <li class="data-entry first-data-element"
                                            style="width: 216.333px; height: 53px;">
                                            <a ng-show="buildBtn" routerLink="/isometricone"
                                                class="build-yours-link find-text" data-index="0">
                                                <span class="build-icon"></span>Build&nbsp;&amp; Price</a>
                                        </li>
                                        <li class="data-entry" style="width: 216.333px; height: 53px;">
                                            <a ng-show="buildBtn" routerLink="/isometrictwo"
                                                class="build-yours-link find-text" data-index="1">
                                                <span class="build-icon"></span>Build&nbsp;&amp; Price</a>
                                        </li>
                                        <li class="data-entry" style="width: 216.333px; height: 53px;">
                                            <a ng-show="buildBtn" routerLink="/isometricthree"
                                                class="build-yours-link find-text" data-index="2">
                                                <span class="build-icon"></span>Build&nbsp;&amp; Price</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>