<!-- Navigation -->
<div class="fixed-top">
    <header class="topbar">
        <div class="container">
            <div class="row">
                <!-- social icon-->
                <div class="col-sm-12">
                    <ul class="social-network">
                        <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-lignt mx-background-top-linear">
        <div class="container">
            <a class="navbar-brand" rel="nofollow" target="_blank" href="#">
                <span style=" color:#ff8000;font-weight: 600;font-size: 24px">Build</span>
                <span style=" color: rgb(13, 108, 172);font-weight: 600;font-size: 24px">NOW</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li *ngIf="IsLogin" class="nav-item dropdown active">
                        <a style=" color: black;font-weight: 600;font-size: 14px" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <span class="sr-only">(current)</span> Product
                        </a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Inbox</a>
                            <a href="#" class="dropdown-item">Drafts</a>
                            <a href="#" class="dropdown-item">Sent Items</a>

                        </div>
                    </li>

                    <!-- 
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                          </a>
                    </li> -->

                    <li *ngIf="IsLogin" class="nav-item">
                        <a class="nav-link" style=" color: black;font-weight: 600;font-size: 14px" href="#">Project Management</a>
                    </li>

                    <li *ngIf="IsLogin" class="nav-item">
                        <a class="nav-link" style=" color: black;font-weight: 600;font-size: 14px" href="#">Company Management</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" style=" color: black;font-weight: 600;font-size: 14px" href="#">Why Buildnow</a>
                    </li>

                    <li *ngIf="IsLogin" class="nav-item">
                        <a class="nav-link" style=" color: black;font-weight: 600;font-size: 14px" href="#">My Orders</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" style=" color: black;font-weight: 600;font-size: 14px" href="#">Contact us</a>
                    </li>

                    <li *ngIf="IsLogin" class="nav-item">
                        <a class="nav-link" style=" color: black;font-weight: 600;font-size: 14px" (click)="LogOut()">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <header class="topbar">
        <div class="container">
            <div class="row">
                <!-- social icon-->
                <div class="col-sm-12">
                    <ul class="social-network">

                    </ul>
                </div>

            </div>
        </div>
    </header>

</div>