<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div style="font-size: 25px;font-weight:700;text-align:center">
                Sign In
            </div>
            <div class="d-flex justify-content-center form_container" style="padding: 0 14%;">
                <form [formGroup]="loginForm" (ngSubmit)="loginuser()">
                    <!-- Email -->
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="email" type="text" name="" class="form-control input_user" value=""
                            placeholder="email address" required><br>
                    </div>
                    <div class="row" style="color: red;font-size:16x;padding: 0 4%;display: block;"
                        *ngIf="!loginForm.controls['email'].valid && (loginForm.controls['email']?.touched || submitForm)">
                        <div *ngIf="loginForm.controls['email']?.errors.required ">
                            Please enter a email
                        </div>
                        <div *ngIf="loginForm.controls['email']?.errors.emailValidation">
                            Please enter a valid email
                        </div>
                    </div>
                    <!-- Passoword -->
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input formControlName="password" type="password" name="" class="form-control input_pass"
                            value="" placeholder="password" required>
                    </div>
                    <div class="row " style="color: red;font-size:16x;padding: 0 4%;"
                        *ngIf="!loginForm.controls['password'].valid && (loginForm.controls['password']?.touched || submitForm)">
                        <div *ngIf="loginForm.controls['password']?.errors.required ">
                            Please enter password
                        </div>
                        <div *ngIf="loginForm.controls['password']?.errors.Passwordvalidator">
                            Password must be 6 digit.It contains one capital letter, one special symbol and numbers.
                        </div>
                    </div>

                    <!-- Remember Me -->
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input formControlName="rememberme" type="checkbox" class="custom-control-input"
                                id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" (click)="loginuser()" name="button" class="btn login_btn">Sign In</button>
                    </div>

                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a routerLink='/registration' routerLinkActive="active" class="ml-2">Sign
                        Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 10.5%;">
    <app-footer></app-footer>
</div>