.line {
    width: auto;
    background-color: #dee2e6;
    height: 1px
}

.line1 {
    width: 1px;
    background-color: #dee2e6;
    height: auto;
}

.Head {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}