<div class="container">
    <div class="row">
        <div class="col Head">{{title}}</div>
        <div class="line1"></div>
        <div class="col Head">Property Details</div>
    </div>
    <div class="line">

    </div>
    <div class="row">

        <!-- First half -->
        <div class="col">
            <form [formGroup]="propertyForm">
                <div style="margin-top: 20px;">

                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label for="inputzipCode ">Zip Code</label>
                            <input formControlName="zipCode" type="text " class="form-control" id="inputzipCode"
                                placeholder="zipCode" required>
                            <div class="row" style="color: red;font-size:16x;padding: 0 4%;"
                                *ngIf="!propertyForm.controls['zipCode'].valid && (propertyForm.controls['zipCode']?.touched || submitForm)">
                                <div *ngIf="propertyForm.controls['zipCode']?.errors.required ">
                                    Please enter a zipCode
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputlocation ">Location</label>
                            <input formControlName="location" type="text " class="form-control " id="inputlocation"
                                placeholder="location">
                            <div class="row" style="color: red;font-size:16x;padding: 0 4%;"
                                *ngIf="!propertyForm.controls['location'].valid && (propertyForm.controls['location']?.touched || submitForm)">
                                <div *ngIf="propertyForm.controls['location']?.errors.required ">
                                    Please enter a location
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row ">

                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input [disabled]="Isdisabled" formControlName="city" type="text " class="form-control "
                                id="inputCity " placeholder="Company name ">
                            <div class="row" style="color: red;font-size:16x;padding: 0 4%;"
                                *ngIf="!propertyForm.controls['city'].valid && (propertyForm.controls['city']?.touched || submitForm)">
                                <div *ngIf="propertyForm.controls['city']?.errors.required ">
                                    Please enter a city
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputState ">State</label>
                            <input formControlName="state" type="state " class="form-control " id="inputState "
                                placeholder="State ">
                            <div class="row" style="color: red;font-size:16x;padding: 0 4%;"
                                *ngIf="!propertyForm.controls['state'].valid && (propertyForm.controls['state']?.touched || submitForm)">
                                <div *ngIf="propertyForm.controls['state']?.errors.required ">
                                    Please enter a State
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="inputAddress ">Address</label>
                        <input formControlName="address1" type="text " class="form-control " id="inputAddress "
                            placeholder="1234 Main St ">
                        <input formControlName="address2" style="margin-top: 10px;" type="text " class="form-control " id="inputAddress2 "
                            placeholder="Apartment, studio, or floor ">
                        <div class="row" style="color: red;font-size:16x;padding: 0 4%;"
                            *ngIf="!propertyForm.controls['address1'].valid && (propertyForm.controls['address1']?.touched || submitForm)">
                            <div *ngIf="propertyForm.controls['address1']?.errors.required ">
                                Please enter a Address
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label for="inputTelephone1">Telephone</label>
                            <input formControlName="telephone1" type="text " class="form-control " id="inputTelephone1">
                            <div class="row" style="color: red;font-size:16x;padding: 0 4%;"
                                *ngIf="!propertyForm.controls['telephone1'].valid && (propertyForm.controls['telephone1']?.touched || submitForm)">
                                <div *ngIf="propertyForm.controls['telephone1']?.errors.required ">
                                    Please enter telephone
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputTelephone2">&nbsp; </label>
                            <input formControlName="telephone1" type="text " class="form-control "
                                id="inputTelephone2 ">
                            <div class="row" style="color: red;font-size:16x;padding: 0 4%;"
                                *ngIf="!propertyForm.controls['telephone2'].valid && (propertyForm.controls['telephone2']?.touched || submitForm)">
                                <div *ngIf="propertyForm.controls['telephone2']?.errors.required ">
                                    Please enter telephone
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label for="inputTax ">Tax Map No</label>
                            <input type="text " class="form-control " id="inputTax" placeholder="Tax Map No"
                                formControlName="tax"
                                [ngClass]="{ 'is-invalid': submitted && f.tax.errors }" />
                            <div *ngIf="submitted && f.tax.errors" class="invalid-feedback">
                                <div *ngIf="f.tax.errors.required">Tax Map No is required</div>
                            </div>
                        </div>


                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label for="inputStatus">Current Status of Property</label>

                        </div>
                        <div class="form-group col-md-6 ">
                            <select formControlName="status" class="form-control ">
                                <option>Undeveloped lot</option>
                                <option>Developed lot</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label for="inputStatus">Site Topography</label>

                        </div>
                        <div class="form-group col-md-6 ">
                            <select formControlName="topology" class="form-control ">
                                <option>Regular Site</option>
                                <option>Normal Site</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label for="inputStatus">Is there existing building on site</label>

                        </div>
                        <div class="form-group col-md-6 ">
                            <select formControlName="isBuildingExists" class="form-control ">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label for="inputStatus">Existing building area in sqft.</label>

                        </div>
                        <div class="form-group col-md-6 ">
                            <input formControlName="buildingArea" type="text " class="form-control " id="inputBuildingArea">
                            <div class="row" style="color: red;font-size:16x;padding: 0 4%;"
                                *ngIf="!propertyForm.controls['buildingArea'].valid && (propertyForm.controls['buildingArea']?.touched || submitForm)">
                                <div *ngIf="propertyForm.controls['buildingArea']?.errors.required ">
                                    Please enter existing building
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="line1">

        </div>
        <!-- Second Half -->
        <div class="col">
            <div style="font-size: 14px;">

                <b>
                    <div>Dear,</div>
                    <div style="margin-left: 35px;">Mr. john Smith,<br>
                        <span>Project location registered as below</span>,<br>{{f.address1.value}}<br>{{f.address2.value}}<br>{{f.zipCode.value}}<br>{{f.location.value}}<br>{{f.city.value}}<br>{{f.state.value}}<br>Telephone 
                        {{f.telephone1.value}} {{f.telephone2.value}}<br>Tax Map No {{f.tax.value}}<br><br>
                        <span>Current Status    {{f.status.value}}</span><br>
                        <span>Site Topography    {{f.topology.value}}</span><br>
                        <span>Existing Building Area   {{f.buildingArea.value}} sqft.</span><br>
                    </div>
                </b>

            </div>

            <button type="submit " class="btn btn-primary " style="float: right;margin-top: 400px;"
                (click)="showNextPage()">{{button}}</button>
        </div>

    </div>
</div>