<!--Confirmation Dialog-->
<div class="leave_page_dialog">
    <div class="modal-body">
      <h4 class="bold text-center mb-3">{{confirmationDialogService.confirmationMessage}}</h4>
      <div class="text-right">
        <button class="btn btn-primary mr-2" style="background-color: #80d4ff;font-weight: bold;"
         (click)="hideDialog(true)">{{confirmationDialogService.successButtonName}}</button>
        <button class="btn btn-secondary" type="submit" (click)="hideDialog(false)">{{confirmationDialogService.cancelButtonName}}</button>
      </div>
    </div>
  </div>
  
  