<div class="container">
    <div class="row">

        <!-- First half -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 line">
            <b><p class="Head" style="border-bottom: 2px solid #dee2e6;">Select Payment Option</p></b>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Type <br>&nbsp;</th>
                    <th>Cost <br>($)</th>
                  </tr>
                </thead>
                <tbody>                 
                  <tr>
                    <td>A & E Permit</td>
                    <td>$21,600</td>
                  </tr>
                  
                </tbody>
              </table>
              <p class="Head" >Choose Consultant for Review & Submission of Permit</p>
              <table class="table table-bordered">
                <thead>
                  <tr style="background-color: rgb(226, 222, 222);">
                    <th>Consultant</th>
                    <th>Process time</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>                 
                  <tr>
                    <td><input type="radio" name="name"> Best time</td>
                    <td>1 Week</td>
                    <td>$600</td>
                  </tr>
                  <tr>
                    <td><input type="radio" name="name"> Regular Process</td>
                    <td>4 Weeks</td>
                    <td>$300</td>
                  </tr>
                  <tr>
                    <td><input type="radio" name="name"> Best Price Certified in USA</td>
                    <td>3 Weeks</td>
                    <td>$400</td>
                  </tr>
                  <tr>
                    <td><input type="radio" name="name"> Best Price</td>
                    <td>6 Weeks</td>
                    <td>$200</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>

        <!-- Second Half -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <b><p class="Head" style="border-bottom: 2px solid #dee2e6;">Payment Option Details</p></b>
            <div style="font-size: 14px;">

                <p>Dear <b>{{selectedUser}},</b></p>
                <p>You have selected for <b>"A & E Permit"</b></p><br>
                <p style="margin-bottom: 5px;">You will receive following,</p>
                <ol style="padding: 0px 0px 0px 16px;">
                  <li> Architectural Permit Drawings (AutoCAD and PDF files)
                  </li>
                  <li>Structural Permit Drawings (AutoCAD and PDF files)
                  </li>
                  <li>MEP Permit Drawings (AutoCAD and PDF files)
                  </li>
                  <li>Review and modification from Consultants for filing for Permit to County
                  </li>
                  <li>Solving Queries from County on the drawings submitted for Permit
                  </li>
                  <li>Follow up by Consultant with County for Permit for Project
                  </li>
                  <li>Receive Permit for the Project
                  </li>
                </ol>
                <p style="margin-bottom: 5px;">Exclusions</p>
                <ol style="padding: 0px 0px 0px 16px;">
                  <li>Permit Fees not included
                  </li>
                  <li>Any other Govt. fees related to Permit, Not Included
                  </li>
                </ol>
                
                  <input type="checkbox" checked="checked">&nbsp;&nbsp;
                  <span>I Agree to terms and conditions</span>
                 
              
              </div>
            <button type="submit " class="btn "
                style="float: right;margin-top: 300px;margin-bottom: 10px;background-color: #80d4ff;font-weight: bold;"
                (click)="showNextPage()">Click to Pay</button>
        </div>
    </div>
</div>