<footer class="container-fluid bg-grey py-5 fix">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <!-- <img src="https://i.ibb.co/sHZz13b/logo.png" class="w-50 logo-footer" > -->
                            <h6 style="font-weight:bold;">BuildNOW</h6>
                            <p>Copyright © 2020 BuildNOW, All rights reserved</p>
                            <!-- <h6 style="font-weight: bold;">Made in <i class="fa fa-heart" style="color: red;"></i> with India
                            </h6> -->
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6 style="font-weight: bold;">Contact</h6>
                        <p href="#">https://www.buildnow.com</p> <br>
                        <p href="#"> <i class="fa fa-envelope-o" aria-hidden="true" style="color: gray;"></i> admin@buildnow.com </p><br>
                        <p href="#"><i class="fa fa-mobile" aria-hidden="true" style="color: gray;"></i> +91 9898 66 9898</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 px-4">
                        <h6 style="font-weight: bold;">Follow</h6>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true" style="color: gray;"></i> FaceBook
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true" style="color: gray;"></i>Twitter
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true" style="color: gray;"></i>Instagram
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true" style="color: gray;"></i> Google+
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest-square" aria-hidden="true" style="color: gray;"></i>Pintrest
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 px-4">
                        <h6 style="font-weight: bold;">Navigation</h6>
                        <ul>
                            <li>
                                <a href="#">Product</a>
                            </li>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <!-- <li>
                                <a href="#">Why BuildNow</a>
                            </li> -->
                            <li>
                                <a href="#">Project Management</a>
                            </li>
                            <li>
                                <a href="#">Pintrest</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 ">
                        <h6 style="font-weight: bold;"> Quick links </h6>
                        <ul>
                            <li>
                                <a href="#">My Orders</a>
                            </li>
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">Why BuildNOW</a>
                            </li>
                            <li>
                                <a href="#"> Contact us</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>